/* 公共样式 */

/* 先写版心 */
.w {
    width: 1240px;
    margin: 0 auto;
}

/* 网页的头部 */
/* 快捷导航 */
.shortcut {
    height: 52px;
    background-color: #333;
}

.shortcut ul {
    height: 52px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.shortcut li a {
    color: #fff;
}

.shortcut .line {
    width: 1px;
    height: 12px;
    background-color: #999;
    margin: 0 15px;
}

.shortcut li i {
    font-size: 18px;
    margin-right: 4px;
}

.shortcut li:first-child a {
    color: #5EB69C;
}

.shortcut li a:hover {
    color: #5EB69C;
}

/* header部分 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 132px;
    background-color: #fff;
}

.header .logo {
    width: 200px;
    height: 88px;
    background-color: skyblue;
}

.header .logo h1 {
    width: 100%;
    height: 100%;
}

.header .logo a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/logo.png) no-repeat;
    text-indent: -999px;
    overflow: hidden;
}



/* 网页的底部 */