* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    color: seagreen;
}

.box {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    border-radius: 15px;
    /* 圆角边框 */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    /* 盒子阴影,不占用空间 */
}

.box2 {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    border-radius: 50%;
    /* 圆角边框 */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    /* 盒子阴影 */
}

.box3 {
    width: 400px;
    height: 200px;
    background-color: lightblue;
    border-radius: 100px;
    /* 圆角边框 */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3) inset;
    /* 盒子阴影 */
}

.box4 {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    border-radius: 10px 20px 30px 40px;
}

.box5 {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    border-radius: 10px 40px;
}

.box5:hover {
    border-radius: 40px 10px;
    transition: all 0.5s ease-in-out;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.txt {
    font-size: 30px;
    color: seagreen;
    text-shadow: 2px 2px 5px rgba(116, 103, 73, 0.452);
    /* 文字阴影 */
    /* 水平偏移（必需） 垂直偏移（必需） 模糊距离（可选） 颜色（可选） */
}

.floatl {
    width: 200px;
    height: 50px;
    background-color: lightblue;
    float: left;
    margin-right: 20px;
}

.floatr {
    width: 200px;
    height: 50px;
    background-color: lightblue;
    float: right;
    margin-left: 20px;
}

.box6 {
    width: 1200px;
    height: 460px;
    background-color: darkseagreen;
    margin: 0 auto;
}

.left {
    float: left;
    width: 230px;
    height: 460px;
    background-color: azure;
}

.right {
    float: right;
    width: 970px;
    height: 460px;
    background-color: cornflowerblue;
}

.box7 {
    width: 1226px;
    height: 285px;
    background-color: darkseagreen;
    margin: 0 auto;
}

li {
    list-style: none;
}

.box7 li {
    width: 296px;
    height: 285px;
    background-color: lightblue;
    float: left;
    margin-right: 14px;
    text-align: center;
    line-height: 285px;
}

/* 注意权重 */
.box7 .last {
    margin-right: 0;
}